.container {
    padding-left: 6%;
    padding-right: 6%;
  }
  .header_wrapper,.footer_wrapper {
      max-width:1600px;
      min-width: 960px;
      
    
  }
  
  .logo_text {
    width: 200px;
  }
  .logo_header {
    margin-bottom: 160px;
  }
  .header_title {
    font-size: 90px;
    line-height: 1.2;

    margin: 100px auto 170px;
  }
  .header_title_text {
    margin-bottom: 0;
  }

  .app_links {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 85px;
    
  }
  .app_link_item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .app_link_item:last-child {
    margin-right: 0;
  }
  .app_link {
    width: 300px;
    padding: 15px;
    background-position: calc(30% - 40px);
    background-size: 45px;
  }
  .app_link_text_block {
    min-width: 70%;
    margin-left: auto;
  }
  
  /*     */
  /*     */
  /*     */
  /*     */
  
  .card_wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main_card:nth-child(n+3){
      flex-direction: row;
  }
  .content_block {
    min-width: 961px;
  }
  .athlets_card,
  .player_card {
   margin-top:100px;
    
  }
 
  
  .main_card:nth-child(2n+4) .card_info{
      order: -1;
  }
  .athlets_card .card_wrapper {
    margin-left: auto;
  }
  
  .athlets_card .card_image_block,
  .player_card .card_image_block {
    position: absolute;
    top:0;
    
    
  }
  .card_image_block{
    width:50%;
  }
  .athlets_card .card_image_block{
        justify-content: flex-end;
       
      }
  .player_card .card_image_block {
    align-self: flex-end;
    justify-content: flex-start;
    
  }
  .card_title {
    font-size: 80px;
    margin-bottom: 20px;
  }
  .player_card .card_categories{
    margin-top: 35px;
  }
  .card_category_item {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  
  .card_category_title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .card_category_number {
    font-size: 18px;
    border-bottom: 4px solid #5e42b0;
    margin-right: 10px;
  }
  .card_category_text {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  
  
  .card_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    position: relative;
    width:50%;
    padding-top: 0;
    padding-bottom:0 ;

  }
  .card_number {
    font-size: 24px;
    padding: 60px 70px;
    top:calc(50% - 120px);
    right:-80px;
    left:  auto;

  }
  .main_card:nth-child(n+3):nth-child(odd) .card_number{
      left:-80px;
      right: auto;
     
  }
  .card_number::after {
    height: 3px;
  }
  .card_info_title {
    font-size: 80px;
    margin:75px 0 0 ;
  }
  .card_text {
    font-size: 24px;
    margin:80px 0 0 ;
  }
  /**/
  /**/
  /**/
  /**/
  .wrapper_footer {
    max-width: 1600px;
    padding: 0;
  }
  .footer_content{

    background-image: url(../img/game_767.jpg);
  }
  
  
  .download_logo_block {
   display: flex;
    margin: 200px auto 50px auto;
   
  }
  .footer_logo {
    width: 120px;
    margin: 0 25px 70px;
    padding: 15px 10px;
  }
  .download_title_block{
    text-align: left;
  }
  .download_title {
    font-size: 80px;
  }
  .dowload_title_promo {
    font-size: 30px;
  }
  .footer_content .app_links{
    margin-bottom: 250px;
    margin-top: 15px;
  }
  .footer_content .logo_text{
    height: 50px;
  }
  @media(min-width:1280px) and (max-width:1919px){
      .header_content{
          background-image: url(../img/football_1280.jpg);
      }
      .footer_content{
          background-image: url(../img/game_1280.jpg);
      }
  }
  @media(min-width:1920px){
    .header_content{
        background-image: url(../img/football_1920.jpg);
    }
    .footer_content{
        background-image: url(../img/game_1920.jpg);
    }
    .container{
      padding-left:calc((100vw - 1600px)/2) ;
      padding-right:calc((100vw - 1600px)/2) ;
    }
    .athlets_card .container{
      padding-left: 6%;
    }

    .player_card .container{
      padding-right: 6%;
    }
    .main_card:nth-child(even) .card_info.container{
      padding-right: 6%;
      
    }
    .main_card:nth-child(odd) .card_info.container{
      padding-left: 6%;
    }
}
