.container {
  padding-left: 32px;
  padding-right: 32px;
}
.header_wrapper {
  max-width: 960px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.logo_text {
  width: 215px;
}
.logo_header {
  margin-bottom: 100px;
}
.header_title {
  font-size: 64px;
  margin-bottom: 250px;
}
.header_title_text {
  width: 80%;
  margin-bottom: 0;
}

.app_links {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  margin-bottom: 50px;
  padding: 15px 0;
}
.app_link_item {
  margin-bottom: 0;
  margin-right: 30px;
}
.app_link_item:last-child {
  margin-right: 0;
}
.app_link {
  width: 280px;
  padding: 15px;
  background-position: calc(30% - 35px);
  background-size: 45px;
}
.app_link_text_block {
  min-width: 70%;
  margin-left: auto;
}

/*     */
/*     */
/*     */
/*     */
.main_wrapper{
  padding-top: 5px;
}
.card_wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content_block {
  min-width: 641px;
}
.athlets_card{
  padding-top: 40px;
}
.player_card {
  padding-top: 50px;
}
.athlets_card .card_wrapper {
  margin-left: auto;
}

.athlets_card .card_image_block,
.player_card .card_image_block {
  position: absolute;

  top: 60px;
}
.athlets_card .card_image_block {
  
  left: -160px;
  top:90px;
}
.player_card .card_image_block {
  align-self: flex-end;
}
.card_title {
  font-size: 80px;
  margin-bottom: 5px;
}
.card_category_item {
  padding-top: 20px;
  padding-bottom: 50px;
}

.card_category_title {
  font-size: 32px;
  margin-bottom: 15px;
}
.card_category_number {
  font-size: 18px;
  border-bottom: 4px solid #5e42b0;
  margin-right: 10px;
}
.card_category_text {
  margin-bottom: 10px;
  font-size: 16px;
}

.card_info {
  position: relative;
  padding-top: 75px;
}
.card_number {
  font-size: 24px;
  padding: 35px 45px;
  top: -55px;
  left: 30px;
}
.card_number::after {
  height: 3px;
}
.card_info_title {
  font-size: 80px;
  margin-bottom: 20px;
}
.card_text {
  font-size: 24px;
  margin-bottom: 70px;
}
/**/
/**/
/**/
/**/
.wrapper_footer {
  position: relative;
  padding: 30px 32px;
  max-width: 960px;
}

.footer_content {
  background-image: url(../img/game_767.jpg);
}
.download_logo_block {
  margin: 80px auto 250px;
}
.footer_logo {
  width: 115px;
  margin: 30px auto 70px;
  padding: 20px 10px;
}
.download_title {
  font-size: 80px;
}
.dowload_title_promo {
  font-size: 36px;
}
